<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <style>

  .flex-container {
    background: red;
    display: flex;
    /* flex-wrap: nowrap; 设置弹性盒子内部子元素的换行方式,默认为该属性,表示不换行 */
    /* flex-wrap: wrap; 多余的部分放置下一行, 下一行可能会出现断行,也就是填不满 */
    /* flex-wrap: nowrap; 反转wrap */
  }

  .flex-container-item {
    width: 100px;
    height: 100px;
    background-color: aqua;
  }

  </style>

  <div class="flex-container">
    <div class="flex-container-item">1</div>
    <div class="flex-container-item">2</div>
    <div class="flex-container-item">3</div>
  </div>

</body>
</html>