<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <style>

  .flex-container {
    background: red;
    display: flex;
    height: 400px;
  }

  .flex-container-item {
    width: 100px;
    background-color: aqua;
    margin: 10px;
  }

  .one {
    /* align-self: auto  设置其自身的元素的对齐方式,设置为自动时则计算值为父元素的align-items的值,如果没有则为stretch */
  }

  .two {
    align-self: flex-start
  }

  .three {
    align-self: stretch;
  }

  </style>

  <div class="flex-container">
    <div class="flex-container-item one">1</div>
    <div class="flex-container-item two">2</div>
    <div class="flex-container-item three">3</div>
  </div>

</body>
</html>