<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <style>

  .flex-container {
    background: red;
    display: flex;
    flex-direction: row; /* 设置弹性盒子内的弹性元素为左对齐 */
    /* flex-direction:row-reverse   右对齐 */
    /* flex-direction: column; 从上到下对齐 */
    /* flex-direction: column-reverse; 从下往上对齐 */
  }

  .flex-container-item {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 10px;
  }

  </style>

  <div class="flex-container">
    <div class="flex-container-item">1</div>
    <div class="flex-container-item">2</div>
    <div class="flex-container-item">3</div>
  </div>

</body>
</html>