<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <style>

  .flex-container {
    background: red;
    display: flex;
  }

  .flex-container-item {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin: 10px;
  }

  .one {
    /* flex: 1  //flex 元素用于指定弹性元素分配空间, 个人觉得这种布局方式比row span要更加灵活 */
  }

  .two {
    flex: 2
  }

  .three {
    flex: 3
  }

  </style>

  <div class="flex-container">
    <div class="flex-container-item one">1</div>
    <div class="flex-container-item  two">2</div>
    <div class="flex-container-item three">3</div>
  </div>

</body>
</html>