$accentColor = #c00 // 主题色

$textColor = #2c3e50 // 文字颜色

$borderColor = #eaecef // 边框颜色

$codeBgColor = #282c34 // 代码背景颜色

.theme-container {
    .sidebar{
        width: 16rem;
        color: #ddd;
    }
    .page {
      width: 1000px;
      .content {
        width: 1000px;
      }
    }
    @media(max-width:  959px){
        .sidebar{
            width: 15rem;
        }
    }
}