.theme-container.custom-page-class {
    .sidebar{
        width: 16rem;
        color: #ddd;
    }
    .content {
      width: 1000px;
    }
    @media(max-width:  959px){
        .sidebar{
            width: 15rem;
        }
    }
}